html {
  font-size: 100%;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  min-height: 85vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: hsl(218, 14%, 16%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.calc {
  border: 1px solid white;
  display: grid;
  grid-template-columns: repeat(4, 100px);
  grid-template-rows: repeat(6, 120px);
}

.calc-btn {
  border: 1px solid black;
  color: #f0f0f0;

}
.calc-btn button {
  width: 100%;
  height: 100%;
  font-size: 1.5rem;
  cursor: pointer;
  /* background: lightgrey; */
  /* border: none; */
}

.display {
  grid-column: 1 /5;
  font-size: 2.5rem;
  text-align: right;
  padding: 2rem;
}

.zero {
  grid-column: 1 /3;
}